<div>
    <a href="{:U('design')}"  target="iframe_a">
        <h3 class="a">一、项目设计</h3>
    </a>
</div>
<div>
    <a href="{:U('php')}"  target="iframe_a">
        <h3 class="a">二、PHP基础语法</h3>
    </a>
</div>
<div>
    <a href="{:U('php_str')}"  target="iframe_a">
        <h3 class="a">三、PHP字符串</h3>
    </a>
</div>
<div>
    <a href="{:U('php_arr')}"  target="iframe_a">
        <h3 class="a">四、PHP数组</h3>
    </a>
</div>
<div>
    <a href="{:U('sql')}"  target="iframe_a">
        <h3 class="a">五、sql写法</h3>
    </a>
</div>
<div>
    <a href="{:U('tp')}"  target="iframe_a">
        <h3 class="a">六、tp框架的应用与异同</h3>
    </a>
</div>
<div>
    <a href="{:U('html')}"  target="iframe_a">
        <h3 class="a">七、html、css、js的配合及使用</h3>
    </a>
</div>