/*
不适应于IE浏览器
1、是用来vw单位。  .banner{ height: 50vw;}

*/
*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
    color: #000000;
}
.bg_opacity{
    background-color: rgba(165, 165, 165, 0.32);
}
.bg_red{
    background-color: #FF0000;
}
.f_red{
    color: #FF0000;
}
.bg_gray{
    background-color: #A5A5A5;
}
.f_gray{
    color: #A5A5A5;
}
.bg_black{
    background-color: #000000;
}
.f_black{
    color: #000000;
}
.bg_white{
    background-color: #FFFFFF;
}
.f_white{
    color: #FFFFFF;
}