<include file="common/content_head"/>
<div class="content_left">
    <a name="mvcsc">
        <div class="content">
            <h4 data-mao="mvcsc">mvcsc项目设计模式</h4>
            <div>
                <pre>
                    mvcsc项目设计模式

                    1.m model      数据库表的基础。验证规则等，enum字段定义等
                    2.v view       视图
                    3.c controller 控制器
                    4.s service    逻辑处理  表的增删改查
                    5.c cache      缓存。全部缓存都放在这个下面。其他地方调用只能用getCache()，如果后台数据更新，只能delCache()操作。
                                    getCache()中，若缓存为空，则重新读一次数据库
                </pre>
            </div>
        </div>
        <div class="notes">notes</div>
    </a>
    <a name="submit_form">
        <div class="content">
            <h4 data-mao="submit_form">提交表单</h4>
            <div>
                <xmp>
                   <input class="product_info" type="number" data-db="{sp$db}" data-name="pro_price" value="">
                    product_info是数据库表名或者代名词；
                    data-db是从数据库中读取的值，在添加时，肯定没有值；
                    data-name是这个值在数据库中对应的字段或者代名词；
                    表单不用form提交方式。用ajax提交。


                    操作：
                    <input class="a" type="number" data-db="1" data-name="price" value="1">
                    <input class="a" type="text" data-db="2" data-name="name" value="2">
                    <input class="a" type="text" data-db="3" data-name="desc" value="3">

                    <input class="b" type="number" data-db="4" data-name="money" value="4">
                    <input class="b" type="text" data-db="5" data-name="where" value="5">
                    <input class="b" type="text" data-db="6" data-name="tel" value="6">
                    <textarea class="b" data-db="333" data-name="ttt" cols="30" rows="10">333</textarea>
                    <script src="__PUBLIC__/Common/jquery-v2.0.0.min.js"></script>
                    <script>
                        var val_a = {};
                        var val_b = {};
                        $(function () {
                            $(".a").change(function () {
                                var val = $(this).val();
                                if($(this).data("db") != val){
                                    val_a[$(this).data('name')] = $(this).val();
                                }else{
                                    delete val_a[$(this).data('name')];
                                }
                            })
                            $(".b").change(function () {
                                var val = $(this).val();
                                if($(this).data("db") != val){
                                    val_b[$(this).data('name')] = $(this).val();
                                }else{
                                    delete val_b[$(this).data('name')];
                                }
                            })
                        })
                        function goSave() {
                            $.ajax({
                                beforeSend: function () {

                                },
                                type: "POST",
                                async: true,
                                dataType: "json",
                                url: "http://www.self.bd/code/index.php/Home/Index/a.html",
                                data: { a: val_a,b:val_b},
                                success: function (msg) {
                                },
                                complete: function () {

                                }
                            });
                        }
                    </script>
                    后台收到的数据：
                        a[name]:2dfsfs
                        a[price]:
                        a[desc]:3342
                        b[money]:4432
                        b[where]:54232
                        b[tel]:643243
                </xmp>
            </div>
        </div>
        <div class="notes">
            关键：class、data-db、data-name<br />
            优势：可以写操作变更记录。几乎每次提交的数据都是真实改动了的。而没有改动的数据都没有二次提交
        </div>
    </a>
    <a name="document_name">
        <div class="content">
            <h4 data-mao="document_name">文件或者方法action的命名规则</h4>
            <div>
                <pre>
                   比如说一个商品。有【添加商品】【商品列表】这两个页面。
                    文件命名如何是好？add_product和product_list？这个看似读着蛮顺畅的。但是在一个打目录里面想在两个文件之间切换，难得上下翻。
                    建议：product_add,product_list。以对象商品product作为前缀，以操作动作action作为后缀。这样，两个文件几乎是挨在一起的。
                </pre>
            </div>
        </div>
        <div class="notes">notes</div>
    </a>
    <a name="mao">
        <div class="content">
            <h4 data-mao="mao">title</h4>
            <div>
                <pre>
                   content
                </pre>
            </div>
        </div>
        <div class="notes">notes</div>
    </a>
</div>
<div class="content_right">
</div>
<include file="common/content_footer"/>