
<include file="common/content_head"/>
<div class="content_left">
    <a name="tp3_tp5_where">
        <div class="content">
            <h4 data-mao="tp3_tp5_where">tp3和tp5的where</h4>
            <div>
                <pre>
                    tp3:where(['id'=>1])
                    tp5:where('id',1)
                    这两个是一样的写法。但是tp3不能像tp5，where中只能是字符串和数组，不能是多个参数
                </pre>
            </div>
        </div>
        <div class="notes">
            注意：
        </div>
    </a>


    <a name="mao">
        <div class="content">
            <h4 data-mao="mao">title</h4>
            <div>
                <pre>
                   content
                </pre>
            </div>
        </div>
        <div class="notes">notes</div>
    </a>
</div>
<div class="content_right">
</div>
<include file="common/content_footer"/>